html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button:focus,
input:focus,
select:focus {
    outline: none;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

body {
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    padding-top: 68px;
}

/* section header */
.header {
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px rgba(167, 203, 209, 0.3);
        box-shadow: 0 0 20px rgba(167, 203, 209, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.menu li a,
.menu li > div {
    height: 68px;
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    position: relative;
    cursor: pointer;
}

.menu li a:hover,
.menu li > div:hover {
    background-color: #ededed;
}

.menu-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 455px;
    background-color: #ededed;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.menu-dropdown > li a {
    text-transform: none;
    height: auto;
    padding: 14px 20px 14px 28px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
}

.menu-dropdown > li a:hover {
    background-color: #fff
}

.menu-dropdown > li a > span {
    padding-right: 20px;
    display: block;
    max-width: 85%;
}

.menu-dropdown > li a > img {
    width: 22px;
    margin-right: 4px;
    margin-top: 5px;
}


.competition {
    background: url(../image/banner.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 13.3vmin;
    padding-bottom: 8.2vmin;
}

.logo {
    width: 100%;
}

.logo > img {
    width: 100%;
}

.competition__title {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 38px;
    font-weight: 400;
    margin-top: 64px;
    margin-bottom: 34px;
}

.competition__title > span {
    font-size: 48px;
    font-weight: 800;
}

.competition__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
}

.competition-counter {
    width: 100%;
    margin-top: 64px;
}

.competition-counter > p {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 4px;
    border-bottom: 1px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.competition-counter > p > img {
    width: 32px;
    margin-right: 8px;
}

.competition-counter > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-top: 30px;
}

.competition-counter > ul li {
    width: 32%;
    background-color: rgba(255, 255, 255, 0.7);
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    color: #548dd0;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.competition-counter > ul li > span {
    font-weight: 800;
    font-size: 50px;
    line-height: 56px;
}

/* section competition-info */
.competition-info {
    padding: 8.8vmin 0;
    background: -webkit-linear-gradient(bottom, #fff, #c1deff );
    background: -o-linear-gradient(bottom, #fff, #c1deff );
    background: linear-gradient(to top, #fff, #c1deff );
}

.competition-info__title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 50px;
}

.competition-info-content {
    background-color: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 25px;
}

.competition-info__steps span {
    font-size: 24px;
    font-weight: 300;
    color: #999999;
    padding-left: 36px;
}

.competition-info__steps > img {
    width: 70px;
}

.competition-info__desc {
    font-size: 14px;
}

.competition-info__desc > p {
    font-size: 18px;
    line-height: 24px;
    padding-right: 10px;
}

.competition-info__desc > p b {
    font-weight: 600;
}

.competition-info__desc > span {
    color: #999;
    padding: 20px 0 10px;
    display: inline-block;
}

.competition-info__desc > ul li {
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
    margin-bottom: 6px;
}

.competition-info__desc > ul li a > img {
    width: 26px;
    margin-top: 4px;
}

.competition-info__desc > ul li a:first-of-type {
    margin-left: 50px;
    margin-right: 6px;
}

#map {
    width: 100%;
    height: 100%;
}

.competition-category {
    height: 100vh;
}

.competition-category > .container {
    position: relative;
}
/* .competition-category::after,
.competition-category::before {
    content: '';
    height: 65px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 5;
}
.competition-category::before {
    background: linear-gradient(to bottom, #fff, rgba(255,255,255, 0.2));
    top: -4px;
}
.competition-category::after {
    bottom: 0;
    background: linear-gradient(to top, #fff, rgba(255,255,255, 0.2));
} */

.competition-category__group-button {
    position: absolute;
    top: 55px;
    left: 36px;
    z-index: 5;
}

.competition-category__group-button > button {
    width: 65px;
    height: 30px;
    background-color: #e6e6e6;
    font-weight: 700;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.competition-category__group-button > button:hover {
    background-color: #c7c7c7;
}

.competition-category__group-button > button.active {
    background-color: #c7c7c7;
}

.competition-category__list {
    position: absolute;
    top: 98px;
    left: 0;
    width: 370px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 5;
    padding-left: 36px;
}

.competition-category__list-select {
    width: 100%;
    height: 34px;
    background-color: #e6e6e6;
    position: relative;
}

.select-arrow {
    position: absolute;
    top: 0;
    right: 25px;
    line-height: 34px;
    cursor: pointer;
}

.competition-category__list-select > select {
    width: inherit;
    height: inherit;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 45px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 
    cursor: pointer;
    position: relative;
    z-index: 6;
}

.competition-category__list > ol {
    counter-reset: item;
}

.competition-category__list-items {
    position: relative;
    margin-bottom: 1px;
    padding: 16px;
    background-color: #fff;
    font-size: 12px;
    line-height: 16px;
    color: #666;
    cursor: pointer;
}

.competition-category__list-items:hover {
    background-color: #f2f2f2;
}

.competition-category__list-items:before {
    content: counters(item, "."); 
    counter-increment: item;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: -34px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.competition-category__list-items.red:before {
     background-color: #f0424b;
}
.competition-category__list-items.green:before {
    background-color: #3ae989;
}
.competition-category__list-items.violet:before {
    background-color: #9658a7;
}

.competition-category__list-items.blue:before {
    background-color: #05b3db;
}

.competition-category__list-items.yellow:before {
    background-color: #f5cd19;
}

.competition-category__list-items p > b {
    font-weight: 600;
    color: #000;
}

.competition-category__list-items > p:first-of-type {
    height: 80px;
    overflow: hidden;
    margin-bottom: 4px;
}

.competition-category__list::-webkit-scrollbar {
    width: 10px;
}
 
.competition-category__list::-webkit-scrollbar-track {
    background-color: transparent;
}
 
.competition-category__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a2a2a2;
}

.competition-category__info {
    width: 750px;
    max-height: 490px;
    overflow: auto;
    background-color: #fff;
    padding: 24px 28px;
    position: absolute;
    top: 132px;
    right: 0;
    z-index: 5;
    font-size: 14px;
    display: none;
}

.close-block {
    position: absolute;
    padding: 4px;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.close-block > img {
    width: 18px;
}

.competition-category__info span {
    color: #999;
    margin-bottom: 8px;
    display: inline-block;
}

.competition-category__info p {
    font-weight: 600;
    margin-bottom: 12px;
}

.competition-category__info h3 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 22px;
}

.competition-category__info-group > div:first-of-type {
    width: 45%;
}

.competition-category__short-desc > div {
    width: 60%;
}

.full-desc-project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 230px;
    height: 54px;
    background-color: #f2f2f2;
    font-weight: 600;
    font-size: 12px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.full-desc-project:hover {
    background-color: #c7c7c7;
}

.full-desc-project > img {
    width: 34px;
    margin-right: 8px;
}

.competition-category__info-image > img {
    width: 90px;
    margin-right: 18px;
}

/* section footer */

.footer {
    border-top: 2.4vmin solid #c1deff;
    background-color: #7aade7;
    color: #fff;
    padding: 3.8vmin 0 10vmin;
}

.footer-tel {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5.3vmin;
}

.footer-tel > p b {
    font-weight: 700;
}

.footer-address,
.footer-link {
    font-size: 14px;
    line-height: 24px;
}

.footer-address {
    margin-left: 98px;
}

.footer-address > p b {
    font-weight: 600;
}

.footer-link {
    margin-right: 98px;
    text-align: right;
}

.footer-link li a {
    text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
    .menu li a, .menu li > div {
        padding: 0px 14px;
        font-size: 12px;
    }

    .menu-dropdown {
        width: 420px;
    }

    .menu-dropdown > li a {
        padding: 12px 20px 12px 20px;
    }

    .competition__title > span {
        font-size: 40px;
    }

    .competition__title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .competition__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
    }

    .competition-counter > ul li {
        height: auto;
        padding: 25px 8px;
    }

    .competition-counter > ul li > span {
        font-weight: 800;
        font-size: 42px;
        line-height: 56px;
    }

    .competition-info__title {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 34px;
    }

    .competition-info__steps span {
        font-size: 20px;
        padding-left: 30px;
    }

    .competition-info__steps > img {
        width: 60px;
    }

    .competition-info-content {
        padding: 16px 20px;
    }

    .competition-info__desc > p {
        font-size: 16px;
        line-height: 22px;
        padding-right: 6px;
    }

    .competition-info__desc > ul li {
        margin-bottom: 4px;
    }
    .competition-info__desc > ul li > p {
        max-width: 70%;
    }

    .competition-category__group-button {
        top: 30px;
        left: 30px;
    }

    .competition-category__list {
        top: 76px;
        width: 33%;
        max-height: 80vh;
        padding-left: 30px;
    }

    .competition-category__list-items:before {
        width: 30px;
        height: 30px;
        left: -30px;
    }

    .competition-category__list-items {
        padding: 12px;
    }

    .competition-category__info {
        width: 65%;
        max-height: 450px;
        padding: 20px 16px;
        top: 110px;
        font-size: 12px;
    }

    .competition-category__info h3 {
        font-size: 15px;
        margin-bottom: 8px;
        line-height: 20px;
    }

    .competition-category__info span {
        margin-bottom: 4px;
    }

    .competition-category__info-image > img {
        width: 75px;
        margin-right: 14px;
    }

    .footer-address {
        margin-left: 40px;
    }

    .footer-link {
        margin-right: 40px;
    }

}

@media only screen and (max-width: 991.8px) {
    .menu li a, .menu li > div {
        padding: 0px 14px;
        font-size: 12px;
        text-align: center;
    }

    .menu-dropdown {
        width: 350px;
    }

    .menu-dropdown > li a {
        padding: 6px 15px 6px 10px;
        text-align: left;
    }

    .competition__title {
        font-size: 18px;
        line-height: 24px;
        margin-top: 30px;
        margin-bottom: 14px;
    }

    .competition__title > span {
        font-size: 28px;
    }

    .competition__text {
        font-size: 13px;
        line-height: 18px;
    }

    .competition-counter {
        margin-top: 24px;
    }

    .competition-counter > p {
        font-size: 14px;
        line-height: 20px;
    }

    .competition-counter > p > img {
        width: 26px;
    }

    .competition-counter > ul {
        margin-top: 16px;
    }

    .competition-counter > ul li {
        font-size: 12px;
        padding: 18px 8px;
    }

    .competition-counter > ul li > span {
        font-size: 32px;
        line-height: 42px;
    }

    .competition-info__title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 22px;
    }

    .competition-info__steps span {
        font-size: 16px;
        padding-left: 0;
    }

    .competition-info__steps > img {
        width: 45px;
    }

    .competition-info__desc {
        font-size: 12px;
    }

    .competition-info__desc > p {
        font-size: 14px;
        line-height: 17px;
        padding-right: 6px;
    }

    .competition-info__desc > span {
        padding: 14px 0 6px;
    }

    .competition-info__desc > ul li {
        margin-bottom: 0;
    }

    .competition-category__list-select > select {
        padding-right: 25px;
    }

    .select-arrow {
        right: 10px;
    }
    
    .competition-category__list {
        width: 37%;
    }

    .competition-category__list-items {
        font-size: 10px;
    }

    .competition-category__info {
        width: 62%;
        padding: 14px 10px;
        top: 110px;
        font-size: 11px;
        max-height: 426px;
    }

    .competition-category__info h3 {
        font-size: 14px;
        margin-bottom: 4px;
        line-height: 18px;
    }

    .full-desc-project {
        width: 180px;
    }

    .full-desc-project > img {
        width: 30px;
        margin-right: 8px;
    }

    .competition-category__info-image {
        flex-wrap: wrap;
    }

    .competition-category__info-image > img {
        width: 70px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .close-block {
        right: 15px;
        top: 12px;
    }

    .footer-address {
        margin-left: 0;
        font-size: 12px;
    }

    .footer-link {
        font-size: 12px;
        margin-right: 0;
    }
}

@media only screen and (max-width: 767.8px) {
    body {
        padding-top: 0;
    }

    .header {
        position: absolute;
    }

    .header nav {
        position: relative;
        width: 100%;
    }
    
    /*button menu*/
    .menu-btn{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 5px;
        cursor: pointer;
        z-index: 10;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after{
        display: block;
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -13px;
        width: 26px;
        height: 2px;
        background-color: #222;
    }
    .menu-btn span::before,
    .menu-btn span::after{
        content: '';
        display: block;
        transition: 0.3s;
    }
    .menu-btn span::before{
        transform: translateY(-5px);
    }
    .menu-btn span::after{
        transform: translateY(5px);
    }
    .menu-btn_active span{
        height: 0;
    }
    .menu-btn_active span:before {
        transform: rotate(-42deg);
    }
    .menu-btn_active span:after {
        transform: rotate(42deg);
    }
    /*button menu*/
    .menu {
        display: none;
        max-height: 100vh;
        overflow-y: auto;
    }

    .menu li a, .menu li > div {
        height: auto;
        padding: 14px 25px;
    }

    .menu li > div {
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .menu-dropdown {
        position: static;
        left: 0;
        top: 100%;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: none;
    }

    .competition__title > span {
        display: block;
        margin-bottom: 4px;
    }

    .competition-counter > ul li > span {
        font-size: 38px;
    }

    .competition-counter {
        margin-top: 18px;
        margin-left: 25%;
        width: 75%;
    }

    .competition-info-content {
        padding: 16px 22px;
    }

    .competition-info__steps {
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #d8d5d0; 
    }

    .competition-info__steps > img {
        order: -1;
        margin-right: 16px;
    }

    .competition-info__desc > ul li a:first-of-type {
        margin-left: 40px;
        margin-right: 12px;
    }

    .competition-info__desc > ul li a > img {
        width: 36px;
    }

    .competition-info__desc > p {
        font-size: 15px;
    }

    .competition-category {
        height: auto;
    }

    #map {
        height: 80vh;
    }

    .competition-category__group-button {
        position: static;
        margin-bottom: 25px;
    }

    .competition-category__list {
        position: static;
        width: 80%;
        max-height: 100vh;
    }

    .competition-category__list-items {
        font-size: 12px;
    }

    .competition-category__info {
        width: 100%;
        padding: 14px 10px;
        top: 55px;
        font-size: 11px;
        max-height: 100%;
        z-index: 6;
    }

    .competition-category__list::-webkit-scrollbar {
        width: 5px;
    }
     
    .competition-category__list::-webkit-scrollbar-track {
        background-color: transparent;
    }
     
    .competition-category__list::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #a2a2a2;
    }

    .footer-address {
        font-size: 14px;
    }

    .footer-link {
        font-size: 14px;
        margin-right: 0;
        text-align: left;
        margin-top: 28px;
    }
}

@media only screen and (max-width: 576px) {

    .menu-dropdown > li a > span {
        max-width: 78%;
    }

    .menu li a, .menu li > div {
        padding: 12px 5px;
    }

    .menu-dropdown > li a {
        padding: 6px 15px 6px 10px;
    }

    .competition__title > span {
        font-size: 20px;
    }

    .competition__title {
        margin-top: 5px;
        font-size: 15px;
        line-height: 20px;
    }

    .competition__text {
        display: none;
    }

    .competition-counter > ul li > span {
        font-size: 32px;
    }

    .competition-info__desc > ul li {
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .competition-info__desc > ul li > p {
        max-width: 100%;
    }

    .competition-info__desc > ul li a:first-of-type {
        margin-left: 0;
        margin-right: 18px;
    }

    .competition-info__desc > ul li a > img {
        width: 50px;
        margin-top: 10px;
    }

    .competition-category__group-button {
        position: static;
        margin-bottom: 25px;
        width: 100%;
        overflow-x: auto;
        text-align: right;
    }

    .competition-category__list {
        width: 100%;
    }
}